<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>

    <main>
        {{{body}}}
    </main>
    <footer id="thanks">Thanks for using our site!</footer>


</body>

</html>
